body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  overflow-x: hidden;
  overflow-y: hidden;
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: #f9f9f9;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  margin: 10px 0 5px;
}

.card p {
  margin: 5px 0;
}

.skills {
  margin-top: 10px;
}

.skills span {
  background-color: #007bff;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.9em;
}
