body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  overflow-x: hidden;
  overflow-y: hidden;
}
